:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  padding: 2em;
}

button {
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

@import "tailwindcss";